{"filter":false,"title":".gitignore","tooltip":"/bookers/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":150,"scrollleft":0,"selection":{"start":{"row":0,"column":0},"end":{"row":0,"column":0},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":9,"state":"start","mode":"ace/mode/ini"}},"timestamp":1633789867840,"hash":"ca4358f366636e7dbc5ad08ea7225a1aec55a43b"}